.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.alter-table{
  color:black;
  position:fixed;
  right: 0%;
  top: 20%;
  width: 50%;
  font-size: 18px;
}
.list-header{
  text-align: left;
  padding:0px;
  margin:0px;
  width: 20%;
}

.list-item{
  border: 2px solid black;
  list-style-type: none;
  text-align:center;
  margin-left: 0px;
  width: 20%;
}

.list-header:hover{
  background-color: grey;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body{
    background-color: white;
}

.tooltip{
  position: absolute;
  width: 50px;
  font-size: .5em;
  z-index: 96;
}

circle {
  transition: opacity .25s ease-in-out;
  opacity: .75;
}

g {
  transform: translate(250px,250px)
}

circle:hover {
  stroke:red;
  stroke-width:4;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}