.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#bubble{
  position: fixed;
  height: 100vh;
  left: 10%;
  top:0%;
}

.alter-table{
  color:black;
  position:fixed;
  top:15%;
  right: 30%;
  font-size: 18px;
}
.list-header{
  text-align: left;
  padding:0px;
  margin:0px;
}

.list-item{
  border: 2px solid black;
  list-style-type: none;
  text-align:center;
  margin-left: 0px;
}

.list-header:hover{
  background-color: grey;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body{
    background-color: white;
}

.tooltip{
  position: absolute;
  width: 50px;
  font-size: .5em;
  z-index: 99;
}

circle {
  transition: opacity .25s ease-in-out;
  opacity: .75;
}

g {
  transform: translate(250px,250px)
}

circle:hover {
  stroke:black;
  stroke-width:5;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#tabs{
  display:flex;
  justify-content: center;
}

#tabs ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#tabs li {
  background-color: white;
  float: left;
}

#tabs li {
  display: block;
  border: 0px solid rgb(25, 190, 135);
  border-radius: 10px;
  color: rgb(25, 190, 135);
  text-align: center;
  padding: 2px;
  margin: 6px;
  text-decoration: none;
}

.tab:hover {
  background-color: #111111;
}

#tabs {
  position:fixed;
  bottom:0%;
  width: 100%;
  z-index: 98;
}